<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,700;1,300;1,700&family=Kalam:wght@700&display=swap" rel="stylesheet">
    
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>



<!-- body of the page -->

<body  style=" background:linear-gradient(to top,#20bf55,#01baef);
max-height: max-content;">
    <h1 class="head1" >Employee Database</h1>
  
    <!-- Table div begins -->

    <div style="width: 50%;height:350px;display:inline-block;">


    <h4 style="color:rgb(158, 14, 14);
    font-size:200%;text-align:center;
    margin-top: 10px;
    margin-bottom: 80px;
     font-family:'Comic Neue';
     position:relative;
     top:30px;
     left:-30px;"> TABLES</h4>


    <div class="employ"
    onMouseOver="this.style.opacity=0.5;"
    onMouseOut="this.style.opacity=1;">
    <a style="text-decoration: none;
    color:white; 
    font-family:'Comic Neue'"
       onMouseOver="this.style.color='blue';"
        onMouseOut="this.style.color='white';" href="/employee">View Employee details</a> <br>
    </div>
    <div class="employ" style="margin-top: 10px;"
    onMouseOver="this.style.opacity=0.5;"
    onMouseOut="this.style.opacity=1;">
    <a style="text-decoration: none;color:white;"
    onMouseOver="this.style.color='blue';"
    onMouseOut="this.style.color='white';" href="/works_on">View Works-on</a>
    </div>
        
   <div class="employ" style="margin-top: 10px;"
   onMouseOver="this.style.opacity=0.5;"
   onMouseOut="this.style.opacity=1;">
    <a style="text-decoration: none;color:white;"
    onMouseOver="this.style.color='blue';"
    onMouseOut="this.style.color='white';" href="/dependent">View Dependents</a>
    </div>
    <div class="employ" style="margin-top: 10px;" 
    onMouseOver="this.style.opacity=0.5;"
    onMouseOut="this.style.opacity=1;">
    <a style="text-decoration: none;color:white;"
    onMouseOver="this.style.color='blue'"
    onMouseOut="this.style.color='white';" href="/department">View Department</a>
    </div>
    <div class="employ" style="margin-top: 10px;"
    onMouseOver="this.style.opacity=0.5;"
    onMouseOut="this.style.opacity=1;">
    <a style="text-decoration: none;color:white;"
    onMouseOver="this.style.color='blue';"
    onMouseOut="this.style.color='white';" href="/dlocation">Department locations</a>
    </div>
    <div class="employ" style="margin-top: 10px;"
    onMouseOver="this.style.opacity=0.5;"
    onMouseOut="this.style.opacity=1;">
    <a style="text-decoration: none;color:white;"
    onMouseOver="this.style.color='blue';"
    onMouseOut="this.style.color='white';" href="/project">View Projects</a> <br>
    </div>
    <div style="height:20px;color:blueviolet;">.</div>
    </div>
    <!-- Table div ends -->

    <!-- Query div begins -->
    <div style="width:49%;height:350px;margin-left: 50%;margin-top:-450px;">
        <h5 style="color:rgb(158, 14, 14);font-size:200%;text-align: center;font-family:'Comic Neue';">QUERIES</h5>
        <div class="employ" style="margin-left: 30%;"
        onMouseOver="this.style.opacity=0.6;"
        onMouseOut="this.style.opacity=1;">
    <a  style="text-decoration: none;color:white;text-align: center;"
    onMouseOver="this.style.color='blue';"
     onMouseOut="this.style.color='white';"href="/query1">Query 1</a>
    </div>

    <div class="employ" style="margin-top: 10px;margin-left: 30%;"
    onMouseOver="this.style.opacity=0.5;"
    onMouseOut="this.style.opacity=1;">
    <a style="text-decoration: none;color:white;"
    onMouseOver="this.style.color='blue';"
     onMouseOut="this.style.color='white';" href="/query2">Query 2</a>
    </div>
    <div class="employ" style="margin-top:10px;margin-left: 30%;"
    onMouseOver="this.style.opacity=0.5;"
    onMouseOut="this.style.opacity=1;"
     >
    <a style="text-decoration: none;color:white;"
    onMouseOver="this.style.color='blue';"
     onMouseOut="this.style.color='white';" href="/query3">Query 3</a>
    </div>
    <div class="employ"  style="margin-left: 30%;margin-top: 10px;"
    onMouseOver="this.style.opacity=0.5;"
    onMouseOut="this.style.opacity=1;">
    <a style="text-decoration: none;color:white;"
    onMouseOver="this.style.color='blue';"
     onMouseOut="this.style.color='white';" href="/query4">Query 4</a>
    </div>
    <div class="employ" style="margin-top:10px;margin-left:30%;"
    onMouseOver="this.style.opacity=0.5;"
    onMouseOut="this.style.opacity=1;">
    <a style="text-decoration: none;color:white"
    onMouseOver="this.style.color='blue';"
     onMouseOut="this.style.color='white';" href="/query5">Query 5</a>
    </div>
    </div>

</body>

<!-- footer -->

<footer class="footer" style="position:relative;top:40px;">
    <p class="footer__title"></p>
    <div class="footer__social">
        <a  href="https://www.instagram.com/prajwal.nayak_/ " class="footer__icon"><i class='bx bxl-instagram' ></i></a></a>
        <a href="https://github.com/PrajwalNayak69/" class="footer__icon"><i class='bx bxl-github' ></i>
        <span>&nbsp&nbsp&nbsp&nbsp</span>
        <a href="https://www.instagram.com/pranam.acharya.948/ " class="footer__icon"><i class='bx bxl-instagram' ></i></a>
        <a href="https://github.com/Pranamacharya/" class="footer__icon"><i class='bx bxl-github' ></i></a>
    </div>
    <p>&#169; 2021 copyright all right reserved</p>
</footer>


<!-- CSS file -->

<style>
    .footer{
background-color: #0E2431;
color: #fff;
text-align: center;
font-weight: 600;
padding: 1rem 0;
}
.footer__title{
font-size: 2rem;
margin-bottom: 2rem;
}
.footer__social{
margin-bottom: 2rem;
}
.footer__icon{
font-size: 1.5rem;
color: #fff;
margin: 0.5rem
}
.head1{
    font-family:'Comic Neue';
    color: #fff;
  display:flex;
  height: 300%;
  justify-content: center;
  font-size: 300%;
  margin-top:10px;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 30px;
}
.employ{
            border-radius:20px;
            justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    border-width: 1px;
    border-style:solid;
    width:40%;
    height:max-content;
    text-align: center;
    padding:5px;
    font-size:150%;
    font-family:'Comic Neue';
    
    
    
    font-weight: 600;
    background-image: linear-gradient(to right, #1c89bb 0%, #7863f1 51%, #DD5E89 100%);
            

        }
        

</style>
</html>